// MyApplication application base assets collection
// my-application.net
// Apache License, Version 2.0

////
/// @group components/breadcrumbs
////
$breadcrumbs-caret-color: #ccc;
$breadcrumbs-background-color: rgba(255, 255, 255, 0.1);
$breadcrumbs-border-radius: rem-calc(6);
$breadcrumbs-border-color: rgba(0,0,0,.3);
$breadcrumbs-border-width: rem-calc(1);


@mixin myapplication-breadcrumbs {

	/* @group breadcrumbs */
	.breadcrumb {
	
		border				: $breadcrumbs-border-width solid $breadcrumbs-border-color;
		border-radius		: $breadcrumbs-border-radius $breadcrumbs-border-radius $breadcrumbs-border-radius $breadcrumbs-border-radius;
		padding				: 7px 10px 5px 10px;
		margin-top			: 0px;
		margin-bottom		: 10px;
		background-color	: $breadcrumbs-background-color;
		list-style			: none;

		// separator caret
		> li + li:before {
		    padding: 0 0px;
		    color: $breadcrumbs-caret-color;
		    content: "/\00a0";
		}
		
		> li.header + li:before {
		    padding		: 0 5px;
		    color		: $breadcrumbs-caret-color;
		    content		: " ";
		    display		:  none;
		}

	}
	/* @end */
		
}
