// MyApplication application base assets collection
// my-application.net
// Apache License, Version 2.0

////
/// @group modules/admin-userprofile
////

@mixin myapplication-admin-userprofile {

	/* @group user profile */
	
	.panel-user-profile {
	    padding-top			: 0px;
	    padding-bottom		: 0px;

		.panel.panel-default {
		    border-radius		: 0px;
		    margin				: 0.5% !important;
		    padding-left		: 0px;
		    padding-right		: 0px;
		    border-left			: 1px;
		    border-right		: 1px;
			border-top			: 0px;
			border-bottom		: 1px;
		
			@include breakpoint (large down) {
		
			    border-radius		: 0px;
			    margin				: 0px !important;
			    padding-left		: 0px;
			    padding-right		: 0px;
			    border-left			: 0px none;
			    border-right		: 0px none;
				border-bottom		: 0px;
				
				&:first-child {
					border-top			: 0px;
				}
			
			}
			
			@include breakpoint (medium up) {
			
				&.col-md-6 {
			    	width				: 49%;
				}
			
			}
			
		}
			

	}

	/* @end */

}
