// gray and brand colors for use across application
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


// states and, by default, alerts.
$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;



// global border color
$global-border-color: #ddd;


// header
$header-max-brandlogo-height: rem-calc(24) !default;


// footer
$footer-max-vendorlogo-height: rem-calc(20) !default;


// navigation
$navigation-border-radius: rem-calc(6) !default;
$navigation-border-width: rem-calc(5) !default;
$navigation-border-left-color: #ddd !default;
$navigation-border-left-color-hover: $white !default;


// breadcrumbs
$breadcrumbs-caret-color: #ccc;
$breadcrumbs-backgroung-color: $body-background;
$breadcrumbs-border-radius: rem-calc(6);
$breadcrumbs-border-color: $global-border-color;
$breadcrumbs-border-width: rem-calc(1);


// panel
$panel-font-size: rem-calc(12);
$panel-text-color: $body-font-color;
$panel-background-color: $body-background;
$panel-border-radius: rem-calc(6);
$panel-border-color: $global-border-color;
$panel-border-width: rem-calc(1);

$panel-margin-top: rem-calc(0);
$panel-margin-bottom: rem-calc(10);

$panel-toolbar-font-size: $panel-font-size;
$panel-toolbar-border-radius: $panel-border-radius;
$panel-toolbar-border-color: $panel-border-color;
$panel-toolbar-border-width: $panel-border-width;

$panel-toolbar-text-color: $panel-text-color;
$panel-toolbar-background-color: $secondary-color;

$panel-toolbar-margin-top: rem-calc(0);
$panel-toolbar-margin-bottom: rem-calc(10);

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          #777 !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

/*
$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;
*/

// flashmessges
$flashmessages-font-size: rem-calc(12);
$flashmessages-button-close-height: rem-calc(14);
$flashmessages-margin-top: rem-calc(0);
$flashmessages-margin-bottom: rem-calc(10);

$flashmessages-border-radius: rem-calc(6);
$flashmessages-border-color: $global-border-color;
$flashmessages-border-width: rem-calc(1);

$flashmessages-background-color: $body-background;
$flashmessages-background-color-info: $flashmessages-background-color;
$flashmessages-background-color-warning: $warning-color;
$flashmessages-background-color-error: $alert-color;
$flashmessages-background-color-success: $success-color;

$flashmessages-text-color: $panel-text-color;
$flashmessages-text-color-info: $flashmessages-text-color;
$flashmessages-text-color-warning: $flashmessages-text-color;
$flashmessages-text-color-error: $flashmessages-text-color;
$flashmessages-text-color-success: $white;


// data-filter-form

// admin-aclmatrix

// admin-userprofile

